.traning{
    width: 100%;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
}
.traning .left{
    text-align: center;
    margin: auto;
    padding: 1rem 5rem;
    max-width: 600px;
}
.traning .left p{
    margin: 1.2rem 0;
}
.traning .right{
    width: 100%;
}
.traning .video-contaner{
    display: flex;
    max-width: 300px;
    max-height: 600px;
    align-items: center;
    text-align: center;
    border: 1px solid #333 ;
    margin:auto;
    margin-top: 1.2rem;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right .img-contaner{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right img{
    max-width: 50%;
    border: 1px solid #333 ;
}
.right .top{
    grid-column: 1 /span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .bottom{
    grid-column: 4/-1;
    grid-row: 1;
    z-index: 5;
}

@media screen and (max-width:1140px) {
    .traning{
        grid-template-columns: 1fr;
    }
    .traning img{
        max-width: 80%;
    }
}